<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Operarios</ion-title>
    <ion-buttons slot="primary" (click)="addOperarios()">
      <ion-button color="primary" fill="outline">
        Agregar
        <ion-icon slot="end" name="add"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-input placeholder="Buscar"></ion-input>
      <ion-icon name="search" slot="end"></ion-icon>
  </ion-item>
  <ion-list>
   
    <ion-item-sliding *ngFor="let operador of Operarios" >
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="DeleteOperario(operador.id)"
          >Eliminar</ion-item-option
        >
      </ion-item-options>
      <ion-item>
        <ion-label>
          <strong>Nombre:</strong><p>{{  operador?.name + " " + operador?.lastName }}</p> 
          <strong>Celular:</strong> <p>{{operador?.cellPhone}}</p>
          <strong>Direccion:</strong> <p>{{operador?.address}}</p>
        </ion-label>
        <!-- <ion-label>{{ operador?.name + " " + operador?.lastName }}</ion-label> -->
        <!-- <ion-label><strong>Celular:</strong></ion-label>
        <ion-label>{{ operador?.cellPhone }}</ion-label> -->
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          (click)="
            UpdateOperario(
              operador.name,
              operador.lastName,
              operador.phone,
              operador.cellPhone,
              operador.address,
              operador.id
            )
          "
          >Actualizar</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
