<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-select placeholder="Tipo de documento" class="max-width" okText="Elegir" cancelText="Atras">
                <ion-select-option value="{{i}}" *ngFor="let tipo of tiposId; index as i">{{tipo}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Numero</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Celular</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Dirección</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-select placeholder="EPS" class="max-width" okText="Elegir" cancelText="Atras">
                <ion-select-option value="{{i}}" *ngFor="let element of eps; index as i">{{element}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Prepagada</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Es niño</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Es anciano</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Acudiente</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Telefono acudiente</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-button class="center">Registrar</ion-button>
        </ion-item>
    </ion-list>
</ion-content>