<ion-header>
  <ion-toolbar>
    <ion-title>Terapeutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModalAgregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12">

            <ion-item>
              <ion-input placeholder="Buscar"></ion-input>
              <ion-icon name="search" slot="end"></ion-icon>
            </ion-item>
          <ion-list>
              <ion-item *ngFor="let terapeuta of terapeutas">
                <ion-label>
                    <h4>{{terapeuta.name}} {{terapeuta.lastName}}</h4>
                    <p>{{terapeuta.email}}</p>
                    <p>{{terapeuta.numberId}}</p>
                    <p>Especialidad - especialidades</p>

                </ion-label>
          
                <ion-button color="light"   slot="end" (click)="presentModalModificar(terapeuta.id)"    >
          
                    <ion-icon slot="icon-only"  name="create"></ion-icon>
                  </ion-button>
                  <ion-button  slot="end" color="danger" (click)="confirmacionEliminar('data','nombrePrueba')" >
          
                      <ion-icon slot="icon-only"   name="trash"></ion-icon>
                    </ion-button>
            
              </ion-item>
     
            </ion-list>
       
                    
      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>