<ion-header>
  <ion-toolbar>
    <ion-title>Crear orden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h5>Datos de usuario</h5>
        <ion-list>
            <ion-item>
                <ion-input  type="text"  [(ngModel)]="documento" 
                 placeholder="Documento" ></ion-input>
                <ion-button  slot="end" color="light" (click)="existe_usuario()" >
          
                    <ion-icon slot="icon-only"   name="search"></ion-icon>
                  </ion-button>
          
              </ion-item>
              <ion-item>
                  <ion-label>Tipo de documento</ion-label>
                  <ion-select disabled [(ngModel)]="typeId.id">
                    <ion-select-option *ngFor="let tipo of typeIds" [value]='tipo.id' value="tipo.id">{{tipo.name}}</ion-select-option>

                  </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Nombres</ion-label>
                    <ion-input  disabled type="text" [(ngModel)]="paciente.name"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating"> Apellidos</ion-label>
                    <ion-input  disabled [(ngModel)]="paciente.lastName" type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating" > Télefono</ion-label>
                      <ion-input disabled type="text" [(ngModel)]="paciente.phone"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating" > Celular</ion-label>
                      <ion-input disabled type="text" [(ngModel)]="paciente.cellPhone"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"> Dirección</ion-label>
                        <ion-input disabled [(ngModel)]="paciente.address"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label>EPS</ion-label>
                          <ion-select disabled [(ngModel)]="paciente.eps">
                            <ion-select-option [value]='famisanar' value="famisanar">Famisanar</ion-select-option>
                            <ion-select-option [value]='colsubsidio' value="colsubsidio">Colbsubsidio</ion-select-option>
                            <ion-select-option [value]='sanitas' value="sanitas">Sanitas</ion-select-option>
              

                          </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label>Prepagada</ion-label>
                            <ion-select disabled >
                              <ion-select-option [value]='sin' value="sin">No tiene prepagada</ion-select-option>
                              <ion-select-option [value]='famisanar' value="famisanar">Famisanar</ion-select-option>
                              <ion-select-option [value]='colsubsidio' value="colsubsidio">Colbsubsidio</ion-select-option>
                              <ion-select-option [value]='sanitas' value="sanitas">Sanitas</ion-select-option>
                
                            </ion-select>
                
                          </ion-item>
                        <ion-item>
                          <ion-label position="floating">Fecha de nacimiento</ion-label>
                          <ion-datetime  disabled displayFormat="DD/MM/YYYY" cancel-text="Cancelar" doneText="Aceptar"  [(ngModel)]="paciente.fechaNacimiento"   min="1900-03-14" max="2019-12-31" ></ion-datetime>
                        </ion-item>
        </ion-list>
        <h5>Datos de la orden</h5>
        <ion-list>
            <ion-item>
              <ion-label position="floating"> Cantidad de citas</ion-label>
              <ion-input [(ngModel)]="orden.cantidadCitas" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Especialidades</ion-label>
              <ion-select [(ngModel)]="orden.especialidad" cancelText="Cancelar" okText="Vale">
                  <ion-select-option *ngFor="let especialidad of especialidades" [value]='especialidad.id' value="especialidad.id">{{especialidad.name}}</ion-select-option>
 
  
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Observaciones</ion-label>
              <ion-textarea [(ngModel)]="orden.observacion" ></ion-textarea>
            </ion-item>
        </ion-list>
        <ion-button (click)="agregar_orden()" color="dark" expand="block">Agregar orden</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>