<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Operador</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button text="Back" icon="" color="primary" fill="outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating"> Nombre </ion-label>
    <ion-input type="text"   placeholder="Ingrese un Nombre" [(ngModel)]="nombre"></ion-input>
    <ion-icon name="person"  color="primary" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Apellido </ion-label>
    <ion-input type="text"   placeholder="Ingrese un Apellido" [(ngModel)]="apellido"></ion-input>
    <ion-icon name="person" color="primary" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Telefono </ion-label>
    <ion-input type="text"   placeholder="Ingrese un Telefono" [(ngModel)]="telefono"></ion-input>
    <ion-icon name="call" color="primary" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Celular </ion-label>
    <ion-input type="text"   placeholder="Ingrese un Celular" [(ngModel)]="celular"></ion-input>
    <ion-icon name="phone-portrait" color="primary" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Direccion </ion-label>
    <ion-input type="text"  placeholder="Ingrese una Dirección" [(ngModel)]="direccion"></ion-input>
    <ion-icon name="pin" color="primary" slot="end"></ion-icon>
  </ion-item>

  <ion-button expand="block" padding color="primary"   *ngIf="!id" (click)="Add()" >Crear</ion-button>
  <ion-button expand="block" padding color="success" *ngIf="id > 0" (click)="update()" >Actualizar
  </ion-button>
</ion-content>