<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>

          <ion-item>
            <ion-label position="floating">Nombres</ion-label>
            <ion-input type="text" [(ngModel)]="terapeuta.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"> Apellidos</ion-label>
            <ion-input  [(ngModel)]="terapeuta.lastName" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de documento</ion-label>
            <ion-select [(ngModel)]="terapeuta.typeId">
              <ion-select-option [value]='1' value="1">Cédula</ion-select-option>
              <ion-select-option [value]='2' value="2">Cédula de extranjería</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating"> Documento</ion-label>
            <ion-input  [(ngModel)]="terapeuta.numberId" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" > Télefono</ion-label>
            <ion-input type="text" [(ngModel)]="terapeuta.phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" > Correo</ion-label>
            <ion-input type="email" [(ngModel)]="terapeuta.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" > Tarjeta profesional</ion-label>
            <ion-input [(ngModel)]="terapeuta.professionalCard"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Especialidades</ion-label>
            <ion-select multiple="true" cancelText="Cancelar" okText="Vale">
              <ion-select-option value="1">Cardio</ion-select-option>
              <ion-select-option value="2">Huesos</ion-select-option>
              <ion-select-option value="3">Respiratorio</ion-select-option>
              <ion-select-option value="4">Muscular</ion-select-option>
              <ion-select-option value="5">Ojos</ion-select-option>



            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> Dirección</ion-label>
            <ion-input [(ngModel)]="terapeuta.address"></ion-input>
          </ion-item>



        </ion-list>

      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="6">
          <ion-button color="light"  (click)="closeModal()" expand="block">Cancelar</ion-button>

      </ion-col>
      <ion-col size="6">
          <ion-button  *ngIf="accion==='agregar'" color="dark" expand="block">Agregar</ion-button>
          <ion-button  *ngIf="accion==='modificar'" color="dark" expand="block">Modificar</ion-button>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>