<ion-content padding>
    <ion-searchbar></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let patient of patients">
            <ion-label>{{patient.name}}</ion-label>
            <br>
            <h6>{{patient.numberId}}</h6>
        </ion-item>
    </ion-list>
</ion-content>