<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Registrar paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>

          <ion-item>
            <ion-label position="floating">Nombres</ion-label>
            <ion-input type="text" [(ngModel)]="paciente.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"> Apellidos</ion-label>
            <ion-input  [(ngModel)]="paciente.lastName" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de documento</ion-label>
            <ion-select [(ngModel)]="tipoSeleccionado.id" >
              <ion-select-option *ngFor="let tipo of typeIds" [value]='tipo.id' value="tipo.id">{{tipo.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating"> Documento</ion-label>
            <ion-input  [(ngModel)]="paciente.numberId" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" > Télefono</ion-label>
            <ion-input type="number" [(ngModel)]="paciente.phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" > Celular</ion-label>
            <ion-input type="number" [(ngModel)]="paciente.cellPhone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"> Dirección</ion-label>
            <ion-input [(ngModel)]="paciente.address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>EPS</ion-label>
            <ion-select [(ngModel)]="paciente.eps">
              <ion-select-option [value]='famisanar' value="famisanar">Famisanar</ion-select-option>
              <ion-select-option [value]='colsubsidio' value="colsubsidio">Colbsubsidio</ion-select-option>
              <ion-select-option [value]='sanitas' value="sanitas">Sanitas</ion-select-option>

            </ion-select>

          </ion-item>
          <ion-item>
            <ion-label>Prepagada</ion-label>
            <ion-select >
              <ion-select-option [value]='sin' value="sin">No tiene prepagada</ion-select-option>
              <ion-select-option [value]='famisanar' value="famisanar">Famisanar</ion-select-option>
              <ion-select-option [value]='colsubsidio' value="colsubsidio">Colbsubsidio</ion-select-option>
              <ion-select-option [value]='sanitas' value="sanitas">Sanitas</ion-select-option>

            </ion-select>

          </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha de nacimiento</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" (ionChange)="calcular_edad()" cancel-text="Cancelar" doneText="Aceptar"  [(ngModel)]="paciente.fechaNacimiento"   min="1900-03-14" max="2019-12-31" ></ion-datetime>
  </ion-item>
  <ion-item *ngIf="paciente.isOld">
    <ion-label position="floating">Nombre del acudiente</ion-label>
    <ion-input type="text" [(ngModel)]="paciente.acudiente"></ion-input>
  </ion-item>
  <ion-item *ngIf="paciente.isOld">
    <ion-label position="floating">Celular acudiente</ion-label>
    <ion-input type="number" [(ngModel)]="paciente.phoneAcudiente"></ion-input>
  </ion-item>
  <ion-item *ngIf="paciente.isChild">
    <ion-label position="floating">Nombre del acudiente</ion-label>
    <ion-input type="text" [(ngModel)]="paciente.acudiente"></ion-input>
  </ion-item>
  <ion-item *ngIf="paciente.isChild">
    <ion-label position="floating">Celular acudiente</ion-label>
    <ion-input type="number" [(ngModel)]="paciente.phoneAcudiente"></ion-input>
  </ion-item>

        </ion-list>

      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="6">
          <ion-button color="light"  (click)="closeModal()" expand="block">Cancelar</ion-button>

      </ion-col>
      <ion-col size="6">
          <ion-button (click)="agregarUsuario()" color="dark" expand="block">Agregar</ion-button>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
